



<div class="container ">  
    <h1 class="form-title shadow-sm text-center text-light p-2 rounded bg-primary ">Sign Up Form</h1>
    <div class="row justify-content-center">
        <!--Form starts-->
        <form #SignUpForm="ngForm" (submit)="popUp(SignUpForm)" class="form-box rounded col-sm-5 p-3 m-3">
            <div class="row">
                <div class="input-field col s6">
                    <input id="first_name" type="text" class="validate" name="name" ngModel #name="ngModel" required>
                    <label for="first_name">First Name</label>
                    <small #name *ngIf="name.touched && !name.valid">provide name</small> 
                </div>
               
                <div class="input-field col s6">
                    <input id="last_name" type="text" class="validate" name="surname" ngModel #surname="ngModel" required>
                    <label for="last_name">Last Name</label>
                    <small #surname *ngIf="surname.touched && !surname.valid">provide surname</small>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="password" type="password" class="validate" name="password" ngModel #password="ngModel" required>
                    <label for="password">Password</label>
                    <small #password *ngIf="password.touched && !password.valid">provide password</small>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12">
                    <input id="email" type="email" class="validate" name="email" ngModel #email="ngModel" email required>
                    <label for="email">Email</label>
                    <small #email *ngIf="email.touched && !email.valid">provide email</small>
                </div>
            </div>
            <button class="btn btn-success" type="submit" [disabled]="!SignUpForm.valid">Submit</button>
        </form>
        <!--Form ends-->
    </div>     
</div>



